@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Recursive', sans-serif;
}
.heading{
    text-align: center;
    padding-bottom: 10px;
}
body{
    padding-top: 30px;
    color:whitesmoke;
 background-color:black;   
}
.roman, .number{
    text-align: center;
    padding:20px 30px;
}

.container{
    margin:0 auto;
    background-color: lightblue;
    width:800px;
    display:flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    padding:20px 40px;
    margin-top:100px;
    border-radius: 30px;
}
.container h1{
    margin-bottom:20px;
    border-radius: 5px;
}
.container > a{
    margin: auto;
    padding:10px 20px;
    background-color: red;
    text-decoration: none;
    font-size:25px;
    border-radius: 20px;;
}
input{
    padding:20px;
    font-size:50px;
    width:200px;
    border-radius: 5px;
}